html, body{
    height: 100%;
    width:100%;
    margin: 0px;
}
#root-container{
    min-height: 100%;
    min-width:100%;

    display: grid;
    grid-template-rows: 0.5fr 4fr;
}
#head-container{
    background-color: #d6ffdd;
    padding: 2%;
    text-align: center;
}
#content-container{
    padding: 5%;
    text-align: center;
}

