html, body{
    height: 100%;
    width:100%;
    margin: 0px;
}
body{
    overflow-y: hidden;
}
form{
    margin:10px;
}
h1, h2, h3, h4, h5, h6 {
    color:#72604a;
}
input[type=text], input[type=text]:focus {
    align-content: center;
    box-sizing: border-box;
    border: 2px solid #BA9686;
    border-radius: 5px;
    text-decoration-line: none;
    outline: none;
}
input[type=submit], input[type=submit]:focus {
    background-color: #f6f3e0;
    border: none;
    border-radius: 5px;
    color: #a97e53;
    outline: none;
}
.div_chat{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
}
.div_chat_text{
    text-align: left;
}
#div_chat_list{
    background-color: white;
    background-clip: content-box;

    margin:auto;

    height: 400px;
    width: 600px;
    list-style-type: none;
    overflow: scroll;
}
#div_chat_list::-webkit-scrollbar {
    display: none;
}
#root_container{
    min-height: 100%;
    min-width:100%;

    display: grid;
    grid-template-rows: 0.5fr 4fr;
}
#head_container{
    background-color: #E8DFC7;
    padding: 2%;
    text-align: center;
}
#content_container{
    background-color: #f6f3e0;
    padding: 1% 5% 5% 5%;
    text-align: center;
}